<div class="signin-wrapper">
  <h1 class="top-message">welcome</h1>
  <div class="btn-wrapper">
    <button onclick="location.href='<%= new_user_session_path %>'">ログイン</button>
    <button onclick="location.href='<%= new_user_registration_path %>'">新規登録</button>
  </div>
</div>